#main {
  height: 250px;
  background-color: #E9C46A;
  padding: 20px;
}

#main h1 {
  font-size: 100px;
  text-transform: uppercase;
}

#main h2 {
  font-size: 30px;
}

#main p {
  font-size: 20px;
}

#img-div {
  background-color: #264653;
  object-fit: cover;
  color: black;
}

img {
/*  060920 max-width is how you make img smaller to fit width of screen (responsive)  */
  margin-top: 50px;
  margin-bottom: 20px;
  display: block !important;
}

#img-caption {
  margin-bottom: 20px;
}

#tribute-info {
  background-color: #E9C46A;
  padding-top: 20px;
  padding-bottom: 20px;
}