body {
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
}

/* navbar */
#navbar {
  font-size: 20px;
  background-color: #BE3144 !important;
}

/* welcome section */
#welcome-section {
  background-color: #222225;
}

#welcome-section h1 {
  color: #f0f0f0;
  font-weight: 700;
  font-size: 4.5rem;
}

#welcome-section p {
  font-size: 30px;
  color: #BE3144;
}

/* projects/work */
#projects {
  background-color: #45567D;
  padding: 8rem 0 8rem 0;
}

#projects h2 {
  color: #f0f0f0;
  font-size: 3rem;
  font-weight: 700;
  border-bottom: 2px solid #f0f0f0;
  margin-bottom: 40px;
}

.project-tile {
  margin-bottom: 40px;
}

/* contact */
#contact {
  background-color: #303841;
  height: 85vh;
}

#contact h2 {
  color: #f0f0f0;
  font-weight: 700;
  font-size: 4rem;
}

#contact p {
  color:#f0f0f0;
  font-size: 20px;
  margin-bottom: 100px;
}

#contact a, a:hover {
  color:#f0f0f0;
  font-size: 20px;
  margin-right: 20px;
}

/* footer */
footer {
  background-color: #303841;
  border-top: 3px solid #BE3144;
}

footer p, a {
  padding-top: 1.8rem;
  color: #f0f0f0;
}

footer a:hover {
  color: #f0f0f0;
}